.greeting {
    display: flex;
    align-items: flex-start;
}

.error {
    color: red;
    height: 20px;
    margin-right: 15px;
}

.inputerror {
    border: red 3px solid;
}

.noerror {
    border: 3px solid;
}

.tU {
    display: flex;
    justify-content: center;
    width: 40px;
    border-radius: 10%;
    background: black;
    color: white;
}

.button {
    margin: 0px 15px;
}